* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  color: #4C4C4C;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 37px;
  min-width: 70px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #1D9AFC;
  border-radius: 8px;
  color: white;
}

.btn-primary:hover {
  background-color: #444;
}

.btn-secondary {
  border: 1.5px solid #1D9AFC;
  border-radius: 8px;
  color: #3A3B3F;
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: #d0d0d0;
}

.u-bold {
  font-weight: bold;
}
