* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
  color: #4C4C4C;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 37px;
  min-width: 70px;
  font-weight: 500;
  transition: background-color 0.2s;
}

.btn-primary {
  background-color: #1D9AFC;
  border-radius: 8px;
  color: white;
}

.btn-primary:hover {
  background-color: #2388D7;
}

.btn-secondary {
  border: 1.5px solid #1D9AFC;
  border-radius: 8px;
  color: #3A3B3F;
  background-color: transparent;
}

.btn-secondary:hover {
  background-color: #1D9AFC;
  color: #fff;
}

.btn-secondary:hover img{
  filter: brightness(0) invert(1);
}

.u-bold {
  font-weight: bold;
}

dialog {
  width: 100%;
  height: 100%;
  block-size: 100%;
  inline-size: 100%;
  max-inline-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  inset: 0;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.2);
}

.w100 {
  width: 100%;
}

